<!DOCTYPE html >
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VentaAutos</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #121212;">
    <header >
        <nav class="navbar position-fixed w-100 top-0 nav_menu">
            <div class="container-fluid" style="background-color: #121212;">
                <div style="margin-left : 4%">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/logo.jpg" alt="Logo" style="max-height: 90px;">
                    </a>
                </div>
                <div class="ms-auto d-flex" style="margin-right : 5%">
                    <a class="navbar-brand @(ViewData["ActiveController"]?.ToString() == "Home" && ViewData["ActiveAction"]?.ToString() == "Index" ? "active" : "")"
                       asp-area="" asp-controller="Home" asp-action="Index" style="color: white;">Inicio</a>

                    <a class="navbar-brand @(ViewData["ActiveController"]?.ToString() == "Home" && ViewData["ActiveAction"]?.ToString() == "Autos" ? "active" : "")"
                       asp-area="" asp-controller="Home" asp-action="Autos" style="color: white;">Autos</a>

                    <a class="navbar-brand @(ViewData["ActiveController"]?.ToString() == "Home" && ViewData["ActiveAction"]?.ToString() == "Nosotros" ? "active" : "")"
                       asp-area="" asp-controller="Home" asp-action="Nosotros" style="color: white;">Nosotros</a>

                    <a class="navbar-brand @(ViewData["ActiveController"]?.ToString() == "Contactos" && ViewData["ActiveAction"]?.ToString() == "Contacto" ? "active" : "")"
                       asp-area="" asp-controller="Contactos" asp-action="Contacto" style="color: white;">Contacto</a>

                </div>
            </div>
        </nav>
    </header>

    <main role=main" class="mb-3 content bg-custom-dark">
        @RenderBody()
    </main>

    <footer class="bg-dark text-white bg-light py-3 mt-auto ">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
               
                <div class="d-flex align-items-center">
                    <a href="https://www.facebook.com" class="me-5"><i class="fab fa-facebook" style="font-size: 40px;"></i></a>
                    <a href="https://www.x.com" class="me-5"><i class="fab fa-twitter" style="font-size: 40px;"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram" style="font-size: 40px;"></i></a>
                </div>

                <div class="text-end">
                    <p class="mb-0">Direccion : Siempre viva 1923, Provincia de Buenos Aires, Argentina</p>
                    <p class="mb-0">Horario : 8-20hrs</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
